*{
	margin: 0;
	padding: 0;
	}

body{
	margin: 60px 50px;
	background-color: #fceff0;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
	}

a{
	text-decoration: none;
	cursor: pointer;
	}
	
h6,
a{
	font-family: 'Spartan', sans-serif;
}

h6{
	color: #7F7F7F;
}

h1,
h3,
h5,
li{
font-family:'MuseoModerno', cursive;
}

li{
	list-style:none;
	cursor:pointer;
	}

#maquetado{
	background-color: #ffffff;
	padding: 20px;
	border-radius: 20px;
	height: 550px;
	width: 830px;
	}

#maquetado header{
	background-color: #fceff0;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 276.6px 276.6px 276.6px;
	grid-template-rows: 277px;
	height: 50%;
	width: auto;
	}
#maquetado header picture{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: auto;
	}
	
.header-img{
	width: 276.59px;
	height: 277px;
	}

.title{
	display:flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	padding: 30px 0px;
	}
	
.title h1{
	text-align: center;
	font-size: 32px;
	line-height: 1;
	}	
	
.title h6{
	text-align: center;
	line-height: 1.5;
	}

#boton-principal{
	background-color: #31db6a;
	color: white;
	width: 40%;
	height: 35px;
	border-radius: 5px;
	font-size: 10px;
	font-style: bold;
	cursor: pointer;
	text-align: center;
	line-height: 1.5;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
} 

main{
	padding: 20px 0px 0px 0px;
	display: grid;
	grid-template-columns: 579.6px 248.4px;
	grid-template-rows: 100%;
	height: 253px;
	width: 828px;
	}

.main-recomendations{
	grid-column: span 1;
	grid-row: span 1;
	margin-right: 20px;	
}

.main-my-orders{
	grid-column: 2 / 3;
	grid-row: span 1;
	height:253px;
}

.main-recomendations-title{
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}

.main-recomendations nav{
	display: grid;
	grid-template-columns: 80% 20%;
	grid-template-rows: 100%;
	border-bottom: 1px solid #BFBFBF;
	}
.main-recomendations nav ul{
	grid-column: span 1;
	grid-row: span 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #BFBFBF;
}


.main-recomendations nav ul li:hover{
	border-bottom: 3px solid #F39FE9;
	color: #1A1A1A;
}

.main-recomendations nav h5{
	grid-column: 2 / 3;
	grid-row: span 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.main-recomendations-benefits{
	display: flex;
	justify-content: space-around;
	height: 191px;
}

.benefits{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 191px;
	width: 186.53px;
	}

.benefits picture{
	height: 100%;
	width: auto;
	display: flex;
	justify-content: center;
	align-items:center;
}

.benefits picture img{
	height: 111px;
}

.benefits h6 {
	margin: 7px 0px;
}

.my-orders-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-my-orders nav{
	margin-right: 40px;
}

.main-my-orders nav ul{
	display: flex;
	justify-content: space-around;
}

.main-my-orders nav li{
	font-size: 11px;
	border-radius: 10px; 
	margin: 5px;
}

.main-my-orders nav li:hover{
	cursor: pointer;
	background-color: #F39FE9;
}

.main-my-orders nav li a{
	font-family:'MuseoModerno', cursive;
	color: #000000;
	margin: 3px;
}

.main-my-orders nav li a:hover{
	color: white;
}

.orders-options{
	height:192px;
	width:238.38px;
}

.orders-options-list{
	display: flex;
	justify-content: space-around;
	height: 64px;
}
.orders-options-list div{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.orders-options-list div h6{
	margin-top: 5 px;
	font-size: 10px;
}

.orders-options-list picture{
	width: 50.38px;
	display:flex;
	align-items: center;
}

.orders-options-list picture img{
	width: 50px;
	height:50px
}


